@charset "UTF-8";
/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-25rem * 7)); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #0090B7;
  color: #fff; }

@font-face {
  font-family: 'RedHatText';
  /*a name to be used later*/
  src: url("../../css/fonts/RedHatText-Regular.ttf");
  /*URL to font*/ }

@font-face {
  font-family: 'RedHatTextMedium';
  /*a name to be used later*/
  src: url("../../css/fonts/RedHatText-Medium.ttf");
  /*URL to font*/ }

@font-face {
  font-family: 'RedHatTextBold';
  /*a name to be used later*/
  src: url("../../css/fonts/RedHatText-Bold.ttf");
  /*URL to font*/ }

@font-face {
  font-family: 'RedHatDisplay';
  /*a name to be used later*/
  src: url("../../css/fonts/RedHatDisplay-VariableFont_wght.ttf");
  /*URL to font*/ }

@font-face {
  font-family: 'RedHatTextVariable';
  /*a name to be used later*/
  src: url("../../css/fonts/RedHatText-VariableFont_wght.ttf");
  /*URL to font*/ }

body {
  font-family: "RedHatText", sans-serif;
  font-weight: 400; }

.heading-primary {
  text-transform: capitalize;
  font-family: "RedHatDisplay";
  font-size: 5.2rem;
  line-height: 6rem;
  margin-bottom: 4rem;
  animation: moveInLeft 1s ease-out; }

.heading-secondary {
  font-size: 2.2rem;
  margin-bottom: 4rem;
  animation: moveInRight 1s ease-out; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #7d7d7d; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-hug {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: .8rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  text-align: center; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--outline {
  background-color: #fff;
  color: #2f2f2f; }
  .btn--outline::after {
    background-color: #fff; }

.btn--primary {
  background-color: #0090B7;
  color: #fff; }
  .btn--primary::after {
    background-color: #0090B7; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .6s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0090B7;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0090B7;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #0090B7;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.services__info {
  display: flex;
  width: 60%; }
  .services__info-icon {
    align-self: flex-start; }
  .services__info-text {
    margin-left: .8rem; }
    .services__info-text-primary {
      font-family: 'RedHatDisplay', sans-serif;
      font-weight: 500 !important;
      font-size: 1.6rem;
      line-height: 2.4rem; }

.service__box {
  background-color: #F5FFFF;
  width: 24rem;
  height: 24rem;
  padding: 7.7rem 2.4rem;
  border-radius: .4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border: 1px solid #F5FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem; }
  .service__box-title {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000;
    margin-top: 1.2rem; }

.toggle {
  align-items: center;
  border-radius: 10rem;
  display: flex;
  font-weight: 700;
  margin-bottom: 1.6rem; }
  .toggle:last-of-type {
    margin: 0; }
  .toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
    .toggle__input:not([disabled]):active + .toggle-track,
    .toggle__input:not([disabled]):focus + .toggle-track {
      border: 1px solid transparent;
      box-shadow: 0px 0px 0px 2px #fff; }
  .toggle-track {
    background: #0090B7;
    border: 1px solid #0090B7;
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    height: 3.0rem;
    position: relative;
    width: 6.0rem; }
    @media screen and (-ms-high-contrast: active) {
      .toggle-track {
        border-radius: 0; } }
  .toggle-indicator {
    align-items: center;
    background: #fff;
    border-radius: 2.4rem;
    bottom: 3px;
    display: flex;
    height: 2.4rem;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 2.4rem; }

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: #fff;
  transform: translateX(3rem); }

.plan-card {
  background-color: #F5FFFF;
  width: 23.2rem;
  height: 32.8rem;
  padding: 2rem;
  border-radius: .4rem;
  border: 1px solid #DEE2E6;
  position: relative;
  animation: moveInBottom 1s ease-out; }
  .plan-card__heading {
    margin-bottom: 1.4rem; }
    .plan-card__heading--title {
      font-family: 'RedHatDisplay', sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-bottom: .4rem; }
    .plan-card__heading--description {
      font-family: 'RedHatText', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.72rem; }
      .plan-card__heading--description span {
        font-family: 'RedHatDisplay', sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem; }
  .plan-card ul {
    list-style: none;
    margin-bottom: 1rem;
    text-align: left; }
    .plan-card ul li {
      font-family: 'RedHatText', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2.2rem;
      color: #0D2344; }
      .plan-card ul li:not(:last-child) {
        margin-bottom: .6rem; }
  .plan-card__link-item {
    color: #0090B7;
    text-align: left; }
  .plan-card__link {
    text-decoration: none;
    font-family: 'RedHatText', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem; }
    .plan-card__link:link, .plan-card__link:visited {
      display: inline-block;
      text-decoration: none;
      transition: all 0.3s ease; }
    .plan-card__link:hover, .plan-card__link:active {
      transform: translateY(-0.5rem); }
  .plan-card__btn {
    position: absolute;
    bottom: 12px;
    left: 32%;
    color: #fff !important; }
  .plan-card:not(:last-child) {
    margin-right: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .plan-card:not(:last-child) {
        margin-bottom: 1rem; } }

.slider {
  background: #fff;
  height: 10rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 120rem; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 10rem;
    position: absolute;
    width: 20rem;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(25rem * 14); }
  .slider .slide {
    height: 10rem;
    width: 25rem; }
  @media only screen and (max-width: 31.25em) {
    .slider {
      width: 100%; } }

.team-card {
  width: 20%;
  height: 28%;
  background-color: #F5FFFF;
  border-radius: 2rem;
  text-align: center;
  padding: 3rem;
  margin: 1rem;
  color: #0090B7;
  transition: all 0.3s ease-in-out; }
  .team-card__name {
    margin-top: .8rem;
    margin-bottom: .8rem; }
  .team-card:hover {
    background-color: #0090B7;
    color: #fff; }

.container {
  padding: 0;
  margin: 0; }

.header {
  height: 65vh;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: top;
  padding: 8rem 18rem 0 18rem; }
  @media only screen and (max-width: 75em) {
    .header {
      height: 75vh;
      padding: 8rem 5rem 0 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 60vh;
      padding: 4rem 5rem 0 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 60vh;
      padding: 3rem 4rem 0 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      height: 80vh;
      padding: 1rem 1rem 0 1rem; } }
  .header__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative; }
  .header__text-section {
    align-self: center;
    height: auto;
    max-width: 50%;
    color: #fff; }
    @media only screen and (max-width: 31.25em) {
      .header__text-section {
        max-width: 100%; } }
  .header__calendar-section {
    align-self: center;
    flex-basis: 40%;
    background-color: #fff;
    border-radius: .8rem;
    animation: moveInRight 2s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .header__calendar-section {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1; } }
    @media only screen and (max-width: 37.5em) {
      .header__calendar-section {
        display: none; } }
  .header-img {
    width: 980px;
    height: 580px; }
    @media only screen and (max-width: 93.75em) {
      .header-img {
        width: 680px;
        height: 420px; } }
    @media only screen and (max-width: 75em) {
      .header-img {
        width: 500px;
        height: 300px; } }
    @media only screen and (max-width: 56.25em) {
      .header-img {
        width: 400px;
        height: 200px; } }
  .header__btn {
    margin-bottom: 6rem; }

.navigation {
  display: flex;
  padding: 0 18rem;
  height: 7rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999; }
  @media only screen and (max-width: 75em) {
    .navigation {
      padding: 2.5rem 4.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      padding: 2rem 4.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      padding: 1.8rem 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .navigation {
      padding: 1.4rem 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .navigation__logo {
      flex-basis: 30%; } }
  .navigation__logo-img {
    width: 15em;
    height: 3.7em;
    vertical-align: middle; }
  .navigation__button {
    cursor: pointer; }
  .navigation__icon {
    display: none;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #2f2f2f;
        display: inline-block; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .navigation__icon::before {
        top: -.8rem; }
      .navigation__icon::after {
        top: .8rem; } }
  .navigation_button:hover .navigation_icon::before {
    top: -1rem; }
  .navigation_button:hover .navigation_icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox {
    display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation__checkbox:checked ~ .navigation__list {
      left: 0; } }
  .navigation__checkbox:checked ~ .navigation__list .navigation__item .navigation__link:link, .navigation__checkbox:checked ~ .navigation__list .navigation__item .navigation__link:visited {
    margin-left: 0px; }
  .navigation__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        position: fixed;
        top: 60px;
        left: -100%;
        background: #0090B7;
        height: 40vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 4; } }
  .navigation__item {
    display: inline;
    margin: 0 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__item {
        width: 100%;
        margin: 40px 0; } }
  .navigation__dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0.3em 1.2em rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding-left: -1.5rem;
    width: 24rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__dropdown {
        position: static; } }
  .navigation__item-hover {
    position: relative; }
  .navigation__item-hover::before {
    content: "";
    position: absolute;
    top: 98%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #0090B7;
    transform: scaleX(0);
    transition: transform .2s; }
  .navigation__item:hover::before {
    transform: scaleX(1); }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    color: #0090B7;
    padding: .8rem 1.5rem;
    letter-spacing: 1px;
    transition: all 0.3s ease; }
  .navigation__link:not(:only-child)::after {
    padding-left: .4em;
    content: ' ▾'; }
  @media only screen and (max-width: 56.25em) {
    .navigation__link:link, .navigation__link:visited {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      color: #fff;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      color: #0090B7;
      background-color: #fff; } }
  .navigation__link--btn {
    color: #fff !important; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link--btn {
        color: #000 !important;
        display: none !important; } }

#nav-toggle {
  position: absolute;
  left: 1.8em;
  top: 2.2em;
  cursor: pointer;
  padding: 1em 3.5em 1.6em 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: .1em;
    height: .5em;
    width: 3.5em;
    background: #0090B7;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -1em; }
  #nav-toggle span:after {
    bottom: -1em; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

.dropdown-container {
  display: flex;
  color: #294B53;
  border-radius: .4rem;
  margin: 2rem 1.2rem 1.4rem 0; }
  .dropdown-container:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 0; }
  .dropdown-container:last-child {
    margin-top: 0;
    padding-top: 0; }
  .dropdown-container-icon {
    align-self: flex-start;
    margin: .1rem;
    border-radius: .6rem; }
    .dropdown-container-icon-white {
      display: none; }
  .dropdown-container-text {
    margin-left: .8rem; }
    .dropdown-container-text-primary {
      font-family: 'RedHatText', sans-serif;
      font-weight: 500 !important;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-bottom: .8rem; }
    .dropdown-container-text-secondary {
      font-family: 'RedHatText', sans-serif;
      font-weight: 300 !important;
      font-size: 1.1rem;
      line-height: 1.8rem; }
  .dropdown-container:hover, .dropdown-container:active {
    color: #fff;
    background-color: #0090B7; }
    .dropdown-container:hover .dropdown-container-icon, .dropdown-container:active .dropdown-container-icon {
      background-color: #fff; }
    .dropdown-container:hover .navigation__dropdown, .dropdown-container:active .navigation__dropdown {
      background-color: #0090B7 !important; }

.footer {
  margin: 4rem 18rem 8rem 18rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      margin: 4rem 1rem 6rem 1rem; } }
  .footer__link {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem; }
    @media only screen and (max-width: 31.25em) {
      .footer__link {
        padding: 1;
        flex-wrap: wrap; } }
  .footer__item-header {
    text-transform: uppercase;
    margin-bottom: .5rem; }
  .footer__item--contact {
    flex-basis: 20%; }
  .footer__item-address {
    letter-spacing: 1px;
    color: #353535;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin: 1.4rem 0; }
  .footer__item-phone {
    letter-spacing: 1px;
    color: #353535;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin: 1.4rem 0; }
  .footer__item-whatsapp {
    margin: 1.4rem 0; }
  .footer__item-email {
    letter-spacing: 1px;
    color: #353535;
    font-size: 1.4rem;
    word-wrap: break-word; }
  .footer__whatsapp--link:link, .footer__whatsapp--link:visited {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    color: #353535;
    font-size: 1.4rem;
    transition: all 0.3s ease; }
  .footer__whatsapp--link:hover, .footer__whatsapp--link:active {
    font-weight: 900;
    transform: translateY(-0.5rem); }
  .footer__list {
    list-style-type: none; }
    .footer__list-item {
      margin: 1.4rem 0; }
      .footer__list-item--link:link, .footer__list-item--link:visited {
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1px;
        color: #353535;
        font-size: 1.4rem;
        transition: all 0.3s ease; }
      .footer__list-item--link:hover, .footer__list-item--link:active {
        font-weight: 900;
        transform: translateY(-0.5rem); }
  .footer__social {
    display: flex;
    justify-content: center;
    margin-top: 8rem; }
  .footer__text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'RedHatText', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #818182; }

.section-services {
  display: flex;
  padding: 4rem 18rem 0 18rem; }
  @media only screen and (max-width: 31.25em) {
    .section-services {
      padding: 2rem 3rem 2rem 3rem;
      flex-direction: column; } }

.services__text-primary {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 500 !important;
  font-size: 2.4rem;
  line-height: 2.88rem; }

.services__text-secondary {
  font-family: 'RedHatTextVariable', sans-serif;
  font-weight: 400 !important;
  font-size: 1.8rem;
  line-height: 3rem; }

.services__text-info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 3rem; }

.services__info:not(:last-child) {
  margin-bottom: 3rem; }

.services__search-btn {
  width: 100%; }
  .services__search-btn-icon {
    margin-right: .5rem; }

.services__form {
  flex-basis: 30%;
  align-self: center;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services__form-input {
    margin-bottom: 1.5rem;
    width: 50%; }
  .services__form-btn {
    width: 50%; }
  .services__form-input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%; }
    .services__form-input-group-prepend {
      margin-right: -1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .services__form-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.375rem 0.95rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      text-align: center;
      white-space: nowrap;
      background-color: #F5FFFF;
      border: 1px solid #ced4da;
      border-radius: 0.45rem; }
  .services__form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.45rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  @media only screen and (max-width: 31.25em) {
    .services__form {
      align-items: flex-start;
      margin-top: 4rem;
      width: 100%; } }

.services__image {
  flex-basis: 33%;
  animation: moveInBottom 2s ease-out; }
  .services__image--img {
    width: 100%; }
  @media only screen and (max-width: 31.25em) {
    .services__image {
      display: none; } }

.services__form-input-group > .services__form-input-group-prepend > .services__form-input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.services__form-input-group > .services__form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.services__form-input-group > .services__form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0; }

.section-service {
  padding: 0 18rem 4rem 18rem; }
  @media only screen and (max-width: 31.25em) {
    .section-service {
      padding: 1rem 3rem 2rem 3rem; } }

.service__text {
  width: 40%; }
  @media only screen and (max-width: 31.25em) {
    .service__text {
      width: 100%; } }
  .service__text-primary {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 500 !important;
    font-size: 2.4rem;
    line-height: 2.88rem; }
  .service__text-secondary {
    font-family: 'RedHatTextVariable', sans-serif;
    font-weight: 400 !important;
    font-size: 1.6rem;
    line-height: 3rem; }

.service__items {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem; }
  @media only screen and (max-width: 31.25em) {
    .service__items {
      flex-direction: column;
      align-content: space-between;
      align-items: center; } }

.section-subscribe {
  padding: 4rem 18rem 4rem 18rem;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .section-subscribe {
      padding: 1rem 2rem 1rem 2rem; } }

.subscribe {
  width: 82.7rem;
  padding: 4rem auto;
  background-image: linear-gradient(to right bottom, rgba(183, 213, 194, 0.8), rgba(183, 213, 194, 0.5));
  padding-bottom: 4rem;
  border-radius: 1.6rem;
  position: relative; }
  .subscribe__text {
    text-align: center;
    margin: 4rem 0; }
  .subscribe__form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 99; }
    .subscribe__form-input {
      width: 30% !important; }
    .subscribe__form-btn {
      width: 20%;
      margin-left: 1.5rem; }
  .subscribe-btn {
    padding: .8rem 1.5rem !important;
    font-size: 1.2rem !important; }
  .subscribe__img {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0.8rem;
    top: 2%;
    z-index: -1; }
    @media only screen and (max-width: 31.25em) {
      .subscribe__img {
        right: 0;
        top: 10%;
        width: 40%;
        height: 80%; } }

.section-app {
  margin: 4rem 32rem 4rem 32rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #0090B7; }
  @media only screen and (max-width: 31.25em) {
    .section-app {
      margin: 4rem 3rem 4rem 3rem;
      padding: 0; } }
  .section-app__text {
    flex-basis: 60%;
    margin-left: 10rem;
    align-self: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 31.25em) {
      .section-app__text {
        flex-basis: 100%;
        margin: 3rem; } }
    .section-app__text--title {
      font-family: 'RedHatDisplay', sans-serif;
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 3.36rem;
      padding-bottom: 1.4rem; }
    .section-app__text--description {
      font-family: 'RedHatTextVariable', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.5rem;
      padding-bottom: 1.4rem; }
    .section-app__text--icon {
      display: inline-block; }
      .section-app__text--icon :not(:last-child) {
        margin-right: 1rem; }
  .section-app__img {
    margin: 4rem 6rem 0 2rem; }
    .section-app__img-1 {
      margin-bottom: -0.4rem; }
    @media only screen and (max-width: 31.25em) {
      .section-app__img {
        display: none; } }

.section-healthplan {
  margin: 4rem 0 4rem 0;
  display: flex;
  justify-content: center;
  background-color: #F5FFFF; }

.healthplan {
  margin: 4rem 0; }
  .healthplan__text {
    text-align: center;
    margin-bottom: 2rem; }
    .healthplan__text--primary {
      font-family: 'RedHatDisplay', sans-serif;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 2.88rem;
      padding-bottom: 1.4rem; }
    .healthplan__text-toggle {
      display: flex;
      justify-content: center; }

.toggle__left {
  margin-right: 2rem;
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: #000; }

.toggle__right {
  margin-left: 2rem;
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: #0090B7; }

.healthplan__tabset {
  text-align: center; }
  .healthplan__tabset input[type="radio"] {
    position: absolute;
    left: -200vw; }
  .healthplan__tabset-panel {
    display: none; }
  .healthplan__tabset label {
    position: relative;
    display: inline-block;
    padding: 1rem;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    margin-right: -2px;
    border-radius: .2rem; }
    .healthplan__tabset label:hover,
    .healthplan__tabset label:focus + input:focus + label {
      color: #0090B7; }
  .healthplan__tabset input:checked + label {
    color: #0090B7; }
  .healthplan__tabset input:checked + label {
    border-color: #DEE2E6;
    border-bottom: 1px solid #F5FFFF !important; }
  .healthplan__tabset :not(input:checked) + label {
    border-color: #F5FFFF;
    border-bottom: 1px solid #DEE2E6;
    margin-left: 0px; }
  .healthplan__tabset-panel {
    margin-top: 1rem; }

.plan-container {
  display: flex !important;
  justify-content: space-between; }
  @media only screen and (max-width: 31.25em) {
    .plan-container {
      flex-direction: column;
      align-content: space-between;
      align-items: center; } }

.healthplan__tabset > input:first-child:checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:first-child,
.healthplan__tabset > input:nth-child(3):checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:nth-child(2),
.healthplan__tabset > input:nth-child(5):checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:nth-child(3),
.healthplan__tabset > input:nth-child(7):checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:nth-child(4),
.healthplan__tabset > input:nth-child(9):checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:nth-child(5),
.healthplan__tabset > input:nth-child(11):checked ~ .healthplan__tabset-panels > .healthplan__tabset-panel:nth-child(6) {
  display: block; }

.section-partners {
  margin: 8rem 0 8rem 0;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .section-partners {
      margin: 4rem 0; } }

.partners__title {
  text-align: center; }
  .partners__title--primary {
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.88rem;
    color: #01232B; }

@media only screen and (max-width: 31.25em) {
  .partners {
    width: 100%; } }

.section-about {
  margin: 10rem 18rem 4rem 18rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.about {
  width: 100%;
  height: 100%; }
  .about__text {
    flex-basis: 50%; }
    .about__text--title {
      font-family: "RedHatDisplay", sans-serif;
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 3.84rem;
      margin-bottom: 2.4rem; }
    .about__text--paragraph {
      font-family: "RedHatText", sans-serif;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 3.0rem;
      text-align: justify; }
  .about__img {
    width: 40%;
    height: 30rem;
    align-self: center;
    background-color: #C4C4C4;
    border-radius: 0.8rem; }

.section-about-mission {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  background-image: url("../../img/mission-bg.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.about-mission {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 14rem;
  padding-bottom: 14rem; }
  .about-mission__title {
    font-family: "RedHatDisplay", sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.84rem;
    margin-bottom: 1.6rem; }
  .about-mission__paragraph {
    font-family: "RedHatText", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.0rem; }

.section-about-vision {
  margin: 10rem 18rem 10rem 18rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .section-about-vision__text {
    align-self: center; }

.section-about-team {
  margin: 10rem 18rem 4rem 18rem;
  text-align: center; }

.about-team__text--title {
  font-family: "RedHatDisplay", sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.84rem;
  margin-bottom: 1rem; }

.about-team__text--paragraph {
  font-family: "RedHatText", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3.0rem;
  margin-bottom: 2rem; }

.about-team__img {
  width: 68%;
  margin: 0 auto;
  height: 50rem;
  background-color: #C4C4C4;
  border-radius: 0.8rem; }

.section-team {
  margin: 6rem 18rem 10rem 18rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
