$color-primary: #0090B7;
$color-primary-light:  #06AED5;

$color-grey: #7d7d7d;
$color-grey-dark: #2f2f2f;
$color-greyish-white: #fafafa;


$color-white: #fff;
$color-black: #000;
$color-green: green;

$color-white-neutral: #F5FFFF;

// FONT
$default-font-size: 1.6rem;
