@font-face {
    font-family: 'RedHatText'; /*a name to be used later*/
    src: url('../../css/fonts/RedHatText-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RedHatTextMedium'; /*a name to be used later*/
    src: url('../../css/fonts/RedHatText-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'RedHatTextBold'; /*a name to be used later*/
    src: url('../../css/fonts/RedHatText-Bold.ttf'); /*URL to font*/
}

body {
    font-family: "RedHatText", sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: $color-white;
    text-transform: capitalize;
    font-family: "RedHatTextBold";
    font-size: 5.6rem;
    line-height: 6rem;
    margin-bottom: 4rem;
    animation: moveInLeft 1s ease-out;
}

.heading-secondary {
    color: $color-white;
    font-size: 2.2rem;
    margin-bottom: 4rem;
    
    animation: moveInRight 1s ease-out;
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: capitalize;
    font-weight: 600;
    color: $color-grey;
}